## CPSC-483-02 Assignment 3
## Name : Mohit Kumar
## Name : Ishee Gattani

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split as tts
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from numpy.linalg import inv
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge

## Question1 > Load and examine the Boston dataset‚Äôs features, target values, and description.

In [46]:
# Loadind Boston House pricing data
boston = load_boston()
# feature data to X
X = pd.DataFrame(boston.data, columns=boston.feature_names)
# target data to Y
Y = pd.DataFrame(boston.target,columns=['MEDV'])
# describe The data set 
X.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [47]:
#Inspect the target values 
Y.describe()

             MEDV
count  506.000000
mean    22.532806
std      9.197104
min      5.000000
25%     17.025000
50%     21.200000
75%     25.000000
max     50.000000

In [48]:
# Shape of data
X.shape, Y.shape

((506, 13), (506, 1))

In [49]:
# few head instances of the feature data
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

## Question2 Save CRIM as the new target value t, and drop the column CRIM from X. Add the target value MEDV to X.

In [50]:
t = pd.DataFrame(np.c_[X['CRIM']], columns = ['CRIM'])

In [51]:
del X['CRIM']

In [52]:
X.describe()

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [53]:
t.describe()

             CRIM
count  506.000000
mean     3.613524
std      8.601545
min      0.006320
25%      0.082045
50%      0.256510
75%      3.677083
max     88.976200

In [54]:
X['MEDV'] = Y['MEDV']

In [55]:
X.describe()

,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

## Question 3 Use sklearn.model_selection.train_test_split() to split the features and values into separate training and test sets. Use 80% of the original data as a training set, and 20% for testing.

In [56]:
# few head instance of the target data
t.head()

      CRIM
0  0.00632
1  0.02731
2  0.02729
3  0.03237
4  0.06905

In [57]:
# Splitting data into training and test set
x_train, x_test, t_train, t_test = train_test_split(X, t, test_size=0.2, random_state=0)

## Question 4 Create and fit() an sklearn.linear_model.LinearRegression to the training set.

In [58]:
lin_model = LinearRegression()
lin_model.fit(x_train, t_train)

LinearRegression()

## Question 5 Use the predict() method of the model to find the response for each value in the test set, and sklearn.metrics.mean_squared_error(), to find the training and test MSE.

In [59]:
# Prediction on train set
t_train_predict = lin_model.predict(x_train)

print('train Mean Squared Error:', metrics.mean_squared_error(t_train, t_train_predict))

train Mean Squared Error: 35.88138733484209

In [60]:
# Prediction on test set
t_test_predict = lin_model.predict(x_test)

print('test Mean Squared Error:', metrics.mean_squared_error(t_test, t_test_predict))

test Mean Squared Error: 61.40060840084876

## Question 6 By itself, the MSE doesn‚Äôt tell us much. Use the score() method of the model to find the R2 values for the training and test data.
#### R2, the coefficient of determination, measures the proportion of variability in the target t that can be explained using the features in X. A value near 1 indicates that most of the variability in the response has been explained by the regression, while a value near 0 indicates that the regression does not explain much of the variability. See Section 3.1.3 of An Introduction to Statistical Learning for details.
### Given the R2 scores, how well did our model do?

In [61]:
r2_tr = r2_score(t_train, t_train_predict)
print('R2 score  for training set is',r2_tr)
r2_tx = r2_score(t_test, t_test_predict)
print('R2 score for testing set is',r2_tx)

R2 score  for training set is 0.4568543784486474
R2 score for testing set is 0.40752318808322796

### As the R2 score is far below 1 for training and test it means most of the variability has been not been explained by regression, our model is not doing a good prediction.

## Question 7 Let‚Äôs see if we can fit the data better with a more flexible model. Scikit-learn can construct polynomial features for us using sklearn.preprocessing.PolynomialFeatures (though note that this includes interaction features as well; you saw in Project 2 that purely polynomial features can easily be constructed using numpy.hstack()). Add degree-2 polynomial features, then fit a new linear model. Compare the training and test MSE and R2 scores. Do we seem to be overfitting?

In [62]:
# transforms the existing features to 2 degree features.
p_f = PolynomialFeatures(degree=2)
x_train_poly = p_f.fit_transform(x_train)
  
# fit the transformed features to Linear Regression
pol_model = LinearRegression()
pol_model.fit(x_train_poly, t_train)
  
# predicting on training data-set
t_train_predicted = pol_model.predict(x_train_poly)
  
x_test_poly = p_f.fit_transform(x_test)
# predicting on test data-set
t_test_predict = pol_model.predict(x_test_poly)
  
# mse and r2 calculation on training dataset
mse_train =metrics.mean_squared_error(t_train, t_train_predicted)
r2_train = r2_score(t_train, t_train_predicted)
  
# mse and r2 calculation on test dataset
mse_test = metrics.mean_squared_error(t_test, t_test_predict)
r2_test = r2_score(t_test, t_test_predict)
print("MSE of training set is ",mse_train)
print("R2 score of training set is ",r2_train) 
print("MSE of test set is ",mse_test)
print("R2 score of test set is ",r2_test)

MSE of training set is  21.2716463303118
R2 score of training set is  0.6780057175693761
MSE of test set is  61.315505772260224
R2 score of test set is  0.40834437431224224

### The value of training mse decrease much but test mse does not decreaes much Although R2 score for training improved but r2 score for test remains approx same as compare to linear model. This is case of overfitting where training mse reduced but test mse does not change marginally. Large test MSE but less training mse case of overfitting.

## Question 8 Regularization would allow us to construct a model of intermediate complexity by penalizing large values for the coefficients. Scikit-learn provides this as sklearn.linear_model.Ridge. The parameter alpha corresponds to ùúÜ as shown in the textbook. For now, leave it set to the default value of 1.0, and fit the model to the degree-2 polynomial features. Don‚Äôt forget to normalize your features.Once again, compare the training and test MSE and R2 scores. Is this model an improvement?

In [63]:
ridge=Ridge(alpha=1.0,normalize=True)
ridge.fit(x_train_poly,t_train)

Ridge(normalize=True)

In [64]:
# Prediction on train set
t_train_predict = ridge.predict(x_train_poly)
r2_train = r2_score(t_train, t_train_predict)

print('train Mean Squared Error:', metrics.mean_squared_error(t_train, t_train_predict))
print("R2 score of training set is ",r2_train)

train Mean Squared Error: 32.56792326452567
R2 score of training set is  0.5070111208612386

In [65]:
# Prediction on test set
t_test_predict =ridge.predict(p_f.fit_transform(x_test))
r2_test = r2_score(t_test, t_test_predict)

print('test Mean Squared Error:', metrics.mean_squared_error(t_test, t_test_predict))
print("R2 score of test set is ",r2_test)

test Mean Squared Error: 57.79026378100839
R2 score of test set is  0.4423607169936796

### There is slight improvement in test MSE and test r2 score but training MSE increases and training r2 score decreases.  For alpha =1 seems not be a good parameter may be compare to other values of alpha but it leads to slight improvemnt.

## Question 9 We used the default penalty value of 1.0 in the previous experiment, but there‚Äôs no reason to believe that this is optimal. Use sklearn.linear_model.RidgeCV to find an optimal value for alpha. How does this compare to experiment (8)?

In [74]:
from sklearn.linear_model import RidgeCV
r1=RidgeCV(alphas=[0.01,0.1,1.0,10.0,100]).fit(x_train_poly,t_train)

In [75]:
# Prediction on train set
t_train_predict1 = r1.predict(x_train_poly)
r1_train = r2_score(t_train, t_train_predict1)

print('train Mean Squared Error:', metrics.mean_squared_error(t_train, t_train_predict1))
print("R2 score of training set is ",r1_train)

train Mean Squared Error: 22.82767959012965
R2 score of training set is  0.6544516491558154

In [76]:
# Prediction on test set
t_test_predict1 =r1.predict(p_f.fit_transform(x_test))
r1_test = r2_score(t_test, t_test_predict1)

print('test Mean Squared Error:', metrics.mean_squared_error(t_test, t_test_predict1))
print("R2 score of test set is ",r1_test)

test Mean Squared Error: 42.09223442655733
R2 score of test set is  0.5938367141789535

In [77]:
# View Best training alpha value
r1.alpha_

100.0


### MSE value for training and test is significantly less as compared to MSE value in previous experiment(Q 8) where alpha was 1.Also R2 train and test result improved. 
### Alpha 100 is providing significantly better train , test MSE and r2 score results in this experiment, so this model is better than any other model above.